@model BookStoreApp.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-group mt-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" disabled class="form-control" />
            </div>
            <div class="form-group mt-3">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" disabled class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn mt-3 btn-danger" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
